.header {
  display: flex;
  justify-content: space-between;
  margin: $m-size $xl-size;
}

.header__logo {
    width:250px;
    height:150px;
}

.header__nav {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  color: darken($light-blue, 50);
  font-weight: bold;
  font-size: 1.8rem;
}

.header__nav__link {
  text-decoration: none;
}
