.promotion {
  text-align: center;
  width: 350px;
}
.promotion-img-container {
  height: 250px;
  width: 300px;
  margin: auto;
  background-color: lighten($light-blue, 10%);
  border-radius: 30%;
}

.promotion__img {
  height: 180px;
  width: 220px;
  margin: 3.8rem;
}

.promotion__title {
  font-size: $l-size;
}

.promotion__content {
  font-size: $m-size;
  height: 5rem;
}

.promotion__link {
  font-size: $l-size;
  color: $dark-red;
}
