html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-size: $m-size;
  background: $light-blue;
}

a {
  color: inherit;
}

// Container of app
.app-container {
  margin: auto;
  width: 70%;
  min-width: 1200px;
  background:lighten($light-blue, 30%);
  border-top: $l-size solid lighten($dark-red,30%);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
