// Colors
$light-blue: #a0c4ff;
$dark-red: #bc0000;
$dark-blue: #2e2f84;
$yellow: #ffe22b;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
